body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    font-size: large;
    font-family: Arial, sans-serif;
    color: white;
}

.heading{
    font-weight: bold;
}

.container{
    width: 40vw;
    height: fit-content;
    background-color: #645949;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 50px;
}

.container h2{
    text-align: center;
    margin: 1.5rem;
}




/*  
    1. Query Part - 46
    2. Response Part - 83
    3. Media Query 1 - 107
    4. Media Query 2 - 128
*/




/* 1. Query Part */

#query{
    display: flex;
    align-items: center;
}

#query input, button{
    height: 1.5rem;
    font-size: 1rem;
    padding: 0;
    margin: 1rem;
    outline: none;
    background: none;
    border: none;
}

#query input{
    background: white;
    border-radius: 0.4rem;
    padding-left: 0.5rem;
}

#query button{
    background: #b94fe6;;
    color: white;
    border-radius: 0.4rem;
    padding: 0 0.5rem;
    cursor: pointer;
}

#query button:hover{
    background-color: #9735c1;
}



/* 2. Response Part */

.chName, .mName{
    display: flex;
    justify-content: space-between;
}

.response #summary {
    font-size: 0.9rem;
    text-align: justify;
}



/* 3. Copyright */

.copyright {
    font-size: 0.75rem;
    margin: 2rem;
    position: relative;
}



/* 4. Media Query 1 */

@media(max-width:992px) {
    #query{
        flex-direction: column;
    }
    #query input, button, p{
        margin: 0.5rem;
    }

    .container{
        width: 60vw;
    }

    .response{
        margin-top: 1.5rem;
    }
}



/* 5. Media Query 2 */

@media(max-width:768px) {
    .container{
        width: 80vw;
        height: fit-content;
    }
}